body {
  margin: 0;
}
header {
    padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  color: rgb(92, 79, 79);
}

nav{
    display: flex;
    align-items: center;
}

nav a {
  color: white;
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

section{
    padding: 0px 40px;
}

.section_header{
    align-items: center;
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.bottom_section{
    display: flex;
    width: 100%;

}

article{
    width: 70%;
}

aside{
    width: 30%;
}


.article_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.article_body{
}

.article_body_item{
    display: flex;
    padding: 10px 10px;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
    box-shadow: 2px 4px 12px rgb(189, 183, 183);
}

.item_title{
    padding: 10px;
}

.item_btn{
    padding: 10px;
}

.item_image{
    background-color: gray;
    height: 64;
    width: 64;
}

.item_author{
    color: gray;

}
